.team-descriptor {
  padding: 200px 0;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #24132B;
  color: #bdaec5;
  z-index: 100;

  .upper-paragraph {
    padding-left: 200px;
    max-width: 500px;
    color: white;

    .strong {
      color: #4d007c;
      z-index: 1000;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }

  .ube-1,
  .ube-2,
  .ube-3 {
    position: absolute;
    width: 20vw;
    min-width: 300px;
    top: 250vh;
  }

  .ube-1 {
    left: 50%;
  }

  .ube-2 {
    left: 80%;
  }
}

@media screen and (max-width: 500px) {
  .team-descriptor {
    font-size: 3em;
    padding: 100px 30px;

    .upper-paragraph {
      padding-left: 0;
      max-width: 100%;
    }

    .ube-3 {
      left: -50%;
    }
  }
}
