.team-descriptor {
  padding: 200px 20vw;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #24132B;
  color: #bdaec5;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  padding-bottom: 600px;

  .team-descriptor-title {
    font-weight: 600;
    font-size: 4em;
    line-height: 0.8em;
  }

  .upper-paragraph {
    max-width: 500px;
    color: white;

    .strong {
      color: #FF8180;
      z-index: 1000;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .team-descriptor {
    flex-direction: column;

    .team-descriptor-title {
      font-size: 2em;
      padding-bottom: 50px;
    }

    .upper-paragraph {
      font-size: 1em;
    }
  }
}

@media screen and (max-width: 500px) {
  .team-descriptor {
    padding: 100px 30px;

    .upper-paragraph {
      padding-left: 0;
      max-width: 100%;
    }
  }
}
