.mountains {
  position: absolute;
  height: 100%;
  width: 100vw;
  min-width: 1000px;
  top: calc(-50vh - 100px);
  left: -5px;
  opacity: 1;
  z-index: -20;
}

.mountains-2 {
  position: absolute;
  height: 100%;
  width: 100vw;
  min-width: 1000px;
  top: calc(-50vh - 100px);
  left: -100vw;
  opacity: 1;
  z-index: -20;
}

.mountains-layer-1 {
  top: calc(-50vh + 8vh);
}

.mountains-layer-2 {
  z-index: -30;
}

.mountains-layer-3 {
  z-index: -40;
}

.mountains-layer-4 {
  z-index: -50;
  top: calc(-50vh - 100px);
}

.mountains-layer-5 {
  z-index: -60;
  top: calc(-50vh - 150px);
}

@media screen and (max-height: 1200px) and (max-width: 1600px) {
  .mountains,
  .mountains-2 {
    height: 105%;
  }

  .mountains-layer-1 {
    top: calc(-50vh + 50px);
  }
}

@media screen and (max-height: 1100px) {
  .mountains-layer-1 {
    top: -50vh;
  }
}
