.hero-main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  z-index: -2;
}

.cloud-1 {
  position: absolute;
  height: 50%;
  top: 100px;
  left: -800px;
}

.cloud-2 {
  position: absolute;
  height: 50%;
  top: 200px;
  left: -800px;
  z-index: -10px;
}
