.hero-main-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50%;
  z-index: -2;
}

.cloud-1 {
  position: absolute;
  height: 50%;
  top: 100px;
  left: -150vw;
}

.cloud-2 {
  position: absolute;
  height: 50%;
  top: 200px;
  left: -150vw;
  z-index: -10;
}

.mountains {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: -80vh;
  left: 0;
  opacity: 0.8;
  z-index: -20;
}

.mountains-2 {
  position: absolute;
  height: 100%;
  width: 100vw;
  top: -80vh;
  left: -100vw;
  opacity: 0.8;
  z-index: -20;
}
