.hero-banner {
  height: 100vh;
  width: 80vw;
  margin-left: 10vw;

  .hero-main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80%;
  }

  .logo {
    position: absolute;
    top: 50px;
    left: 150px;
    font-family: forma-djr-banner, sans-serif;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 1px;
  }

  .banner-text {
    position: absolute;
    font-family: forma-djr-banner, sans-serif;
    font-weight: 700;
    font-size: 10em;
    letter-spacing: 5px;
    line-height: 0.8em;
    display: flex;
    justify-content: space-around;
    top: 20%;
    left: 20vw;

    .banner-text-left {
      color: black;
      width: 40%;

      .supporting-text {
        padding-top: 50px;
        font-size: 0.13em;
        font-weight: 100;
        letter-spacing: 2px;
        padding-left: 50px;
        line-height: 1.5em;
      }
    }

    .banner-text-right {
      padding-top: 150px;
      color: white;
      width: 40%;
    }
  }

  .icon-continue {
    position: absolute;
    left: 65%;
    top: 48%;
  }

  .banner-support-bar {
    position: absolute;
    top: 78%;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    text-align: center;

    .banner-support-bar-title {
      font-family: forma-djr-banner, sans-serif;
      font-weight: 700;
      -webkit-text-fill-color: rgba(0, 0, 0, 0);
      -webkit-text-stroke: 2px black;
      font-size: 8em;
    }

    .banner-support-bar-description {
      font-family: forma-djr-banner, sans-serif;
      font-weight: 800;
      font-size: 2em;
      letter-spacing: 1px;
      line-height: 0.2em;
    }

    .banner-support-bar-background {
      position: absolute;
      height: 100px;
      width: 55vw;
      left: 0;
      right: 0;
      margin: auto;
      margin-top: -80px;
      z-index: -1;
      background: white;
    }
  }
}
