.team-skills {
  background-color: #24132b;
  padding: 200px 10vw;
  min-height: 30vh;
  margin: 0 auto;

  .team-skills-title {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 400;
    letter-spacing: 5px;
    font-size: 0.8em;
    color: #bdaec5;
    margin-bottom: 50px;
  }

  .team-skills-descriptor {
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    color: #bdaec5;
    font-size: 3em;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  .team-skills {
    .team-skills-descriptor {
      font-size: 2em;
    }
  }
}
