.hero-banner {
  height: 100vh;
  width: 100vw;

  .top-banner {
    border: 1px solid #A4485D;
    margin-top: 50px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    align-items: center;

    .logo {
      font-family: forma-djr-banner, sans-serif;
      font-weight: 700;
      font-size: 3em;
      letter-spacing: 1px;
      color: #A4485D;
      padding: 20px;
    }
  
    .navigation-icons {
      font-size: 1.1em;
      padding: 20px;

      a {
        padding: 0px 20px;
        color: #A4485D;
        transition: 0.3s;
      }
  
      a:hover {
        color: #FF7F7F;
      }
    }
  }

  @media screen and (max-width: 500px) {
    .top-banner {
      flex-direction: column;
      justify-content: center;
      padding: 20px 0px;

      .logo {
        padding: 10px 0px;
      }
  
      .navigation-icons {
        line-height: 0px;
        padding: 0;
      }
    }
  }
}
